div(ng-show="isAuthenticated()")
    header
      h1 Account Details
      
    section
        h2 Account: {{ currentUser.firstName }}, {{ currentUser.lastName }}
    
        h2 Items
    
        ul.list
            li.item(ng-repeat="item in currentUser.items")
                {{ item.pos }}). <strong>{{ item.title }}</strong> - {{ item.time | date:'medium' }}

    footer
        p Backdraft Startup App