extends layout

block content

block scripts

    script(src='js/templates.js')
    script(src='js/routes.js')
    script(src='js/controllers.js')
    script(src='js/models.js')
    script(src='js/app.js')

